
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
    <div id="formheader">
        <h1>Welcome</h1>
    </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" [(ngModel)]="username" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="password" [(ngModel)]="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="button"  value="Log In" (click) = "login()">
        <input type="button" value="Sign up" (click) = "signup()">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>