html, body{
    height:100%; 
 }
.container{
     height:100%;
     width:100%;
     display:flex;
     justify-content: flex-start;
     margin-top: 270px;
     margin: 0 auto;
     background-color: white;
     margin-bottom: 40px;

}
.main-container{
     width: 100%;
}
app-body{
     width:100%
}
.main-container{
     height: auto;
}
header{
     flex:0 0 50px;
     width:100%;
}
 
footer{
     flex: 0 0 50px;
 }